<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<title>Chainpoint - Blockchain Proof Protocol</title>
<link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Lato:100,300,400,700,400italic">
<meta name="description" content="Chainpoint is a standard for creating a universally verifiable proof of any data, file, or series of events by anchoring data to the blockchain.">
<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="/stylesheets/main.min.css">
<link rel="icon" type="image/png" href="/images/favicon-32x32.png" sizes="32x32">
<link rel="icon" type="image/png" href="/images/favicon-16x16.png" sizes="16x16">
<meta content="Chainpoint - Blockchain Proof Protocol" property="og:title">
<meta content="A standard for creating a universally verifiable proof of any data, file, or series of events." property="og:description">
<meta content="http://chainpoint.org" property="og:url">
<meta content="http://chainpoint.org/images/facebook-open-graph.png" property="og:image">
<meta content="summary_large_image" name="twitter:card">
<meta content="@chainpnt" name="twitter:site">
<meta content="Chainpoint - Blockchain Proof Protocol" name="twitter:title">
<meta content="A standard for creating a universally verifiable proof of any data, file, or series of events." name="twitter:description">
<meta content="http://chainpoint.org/images/twitter-large.png?2" name="twitter:image:src">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
